{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="card-wrapper">
        <div class="card">
            <h1>Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.name, { label: 'Name' }) }}
                {{ form_row(registrationForm.email, { label: 'Email' }) }}
                {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
                {{ form_row(registrationForm.agreeTerms, { label: 'I agree to the terms' }) }}

                <div class="form-group">
                    <button type="submit" class="btn">Register</button>
                </div>
            {{ form_end(registrationForm) }}

            <div class="form-footer">
                <a href="{{ path('app_login') }}">Already have an account? Login</a>
            </div>
        </div>
    </div>
{% endblock %}
